@import "variables.less";
@import "jschannel.less";

// Global Components

body {
	overflow-x: hidden;
	.body-font;
}

.rounded-button {
	border-radius: 40px !important;
	//background-color: @brand-primary !important;
	//border-color: #45667E !important;
}

.taghover {
	border: 7px solid darken(@brand-primary, 5%);
	opacity: 0.8; 
	filter: alpha(opacity=30);
}

.text-muted {
	color: @gray-muted;
}

.text-subheading {
  color: @white;
}

.text-primary {
	color: @brand-primary;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

a {
	color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@brand-primary, 80%);
}

h1, h2, h3, h4, h5, h6 {
	.heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: @gray-lighter;
}

.bg-darkest-gray {
	background-image: url('../assets/images/14830474230_633382cfc9_k.jpg');
  background-repeat: none;
  background-attachment: fixed;
  background-position: center center;
  .background-cover;
  text-align: center;
}

// Restyled Primary Buttons

.btn-primary {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
}

.btn-xl {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}

.embeded-video {
	background-color: #F9F9F9;
	padding: 15px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 8px 10px #5188a3;
	background: -webkit-linear-gradient(top, rgba(238,238,238,0.5) 0%,rgba(204,204,204,0.57) 100%);

	@media(min-width:768px) {
		margin-top: 150px !important;
	}
	@media(max-width:768px) {
		margin-top: 65px !important;
	}
}

.button-shadow {
  border: 1px solid #45667e;
  box-shadow: inset 0 -2px 0 0 #45667e;	
  padding: 15px;

  @media(max-width: 768px) {
  	width: 240px;
  	margin-bottom: 5px;
  }
}

.button-shadow-meetups {
  border: 1px solid #45667e;
  box-shadow: inset 0 -2px 0 0 #45667e; 
  background-color: #48b379;
  border-color: #48b379;
  color: #fff;
  
  @media(max-width: 768px) {
    width: 240px;
    margin-bottom: 5px;
  }
}

.block-input {
	-webkit-box-shadow: 0 1px 0 0 #999999;
	box-shadow: 0 1px 0 0 #999999;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	padding: 14px 20px 12px 10px;
	width: 240px;
	color: #999999;
	font-size: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	@media(max-width: 768px) {
		margin-bottom: 5px;
	}
}

.book-ticket {
//	@media(min-width:768px) {
//		text-align: right;
//	}
	padding-bottom: 15px;
	form.ng-submitted {
		input.ng-invalid {
			border-color: red;
	  	border-width: 2px;
	  }
	}
}

.subscribe {
	.book-ticket;
	h4.subscripition {
		color: @white;
	}
}

.sponsor {
//	@media(min-width:768px) {
//		text-align: left;
//	}
	padding-bottom: 15px;
}

// Custom Navigation Bar

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	.navbar-brand {
		color: @brand-primary;
		.script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
        	color: darken(@brand-primary, 10%);
        }
	}
  .navbar-header {
    a {
      span {
        background: url("../assets/images/jslogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        background-position: 0 0;
        display: inline-block;
        height: 40px;
        padding: 10px 0;
        text-transform: uppercase;
        width: 246px;
        transition: all 0.001s ease-in-out 0s;
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        line-height: 20px;
        padding: 0px;
        background-size: cover;
      }
    }  
  }
	.navbar-collapse {
		border-color: fade(white, 2%);
	}
	.navbar-toggle {
		background-color: @brand-primary;
		border-color: @brand-primary;
		.icon-bar {
			background-color: white;
		}
		&:hover,
		&:focus {
			background-color: @brand-primary;
		}
	}
  .nav {
  	li {
      margin-left: 8px;
  		a {
  			.heading-font;
  			font-weight: 800;
  			letter-spacing: 1px;
        background: rgba(0, 0, 0, .4);
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: none;
  			color: white;
  			&:hover,
  			&:focus {
  				color: @brand-primary;
  				outline: none;
  			}
  		}
  	}
  }
	.navbar-nav>li>a.active {
		border-radius: 10px;
		color: white;
		background-color: @brand-primary;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: white;
		background-color: darken(@brand-primary, 10%);
	}
	.logo {
		display: block;
		margin: 0;
		padding: 0;
		line-height: 0;
		border: none;
		width: 177px;
		height: auto;
	}
	.logo>img{
		max-width: 100%;
		margin-top: 10px;
	}
	.nav-text {
		color: @gray-darkest;
		a {
			color: #ffd35c;
		}
		a:hover {
			color: white;
		}
		@media(min-width: 768px) {
			margin-left: -17px;
		}
	}
  .navbar-default.navbar-shrink {
    background-color: #e8e8e8;
    padding: 10px 0;
    box-shadow: 0 3px 0 rgba(30, 38, 44, .2);
    .navbar-brand {
      font-size: 1.5em;
    }
    ul {
      margin-top: 6px;
      li {
        a {
          color: #777;
          background: none;
        }
      }
    }
  }
}

@media(max-width:980px) {
  .navbar-default {
    .nav {
      li {
        float: left;
        margin-left: 0 !important;
        width: 100%;
      }
    }
  }
}

@media(max-width:768px) {
  .navbar-default {
  	//background-color: @navbar-shade;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
    .nav-text {
      a {
        color: #eac117;
      }
    }
  }
}

header {
	background-image: url('../assets/images/14830474230_633382cfc9_k.jpg');
	background-repeat: none;
	background-attachment: fixed;
	background-position: center center;
	.background-cover;
	text-align: center;
	color: white;
	.intro-text {
		//padding-top: 100px;
		padding-bottom: 50px;
		.intro-lead-in {
			.script-font;
			font-style: italic;
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 25px;
		}
		.intro-heading {
			.script-font;
			//.heading-font;
			font-weight: 700;
			font-size: 30px;
			line-height: 30px;
			//margin-bottom: 25px;
		}
	}
}

@media(min-width:768px) {
	header {
		.intro-text {
			//padding-top: 300px;
			//padding-bottom: 200px;
			.intro-lead-in {
				.script-font;
				font-style: italic;
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 25px;
				color: @brand-primary;
			}
			.intro-heading {
				//.heading-font;
				.script-font;
				font-weight: 700;
				font-size: 70px;
				line-height: 75px;
				//margin-bottom: 50px;
			}
			//.embeded-video {
			//	margin-top: 150px !important;
			//	border: 7px solid darken(@brand-primary, 5%) !important;
			//}
		}
	}
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
			font-size: 40px;
			margin-top: 0;
			margin-bottom: 15px;
			color: @white;
    }
    h3.section-subheading {
		font-size: 16px;
		.serif-font;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		margin-bottom: 75px;
    }
    -webkit-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
    -moz-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
    box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
}

@media(min-width:768px) {
	section {
		padding: 100px 0;
	}
}

// Services Section

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

#events {
	h2 {
		color: inherit;
	}
	img {
		background-color: @brand-primary;
		border: 7px solid #f1f1f1;
		cursor: hand;
		cursor: pointer;
	}
	img:hover {
		.taghover;
	}
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade(@brand-primary, 90%);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background-color: white;
        	text-align: center;
        	padding: 25px;
        	h4 {
        		text-transform: none;
        		margin: 0;
        	}
        	p {
        		.serif-font;
        		font-style: italic;
        		font-size: 16px;
        		margin: 0;
        	}
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

// Timeline

.jsc-modal {
	//width: 900px;
	@media(max-width:320px) {
		width: 300px;
		.h2-mobile;
		.h4-mobile;
	}
	@media (min-width:325px) and (max-width:414px) {
		width: 350px;
		.h2-mobile;
		.h4-mobile;
	}

	.close-modal {
	  position: absolute;
	  width:75px;
	  height:75px;
	  background-color:transparent;
	  top: 0px;
	  right: 25px;
	  cursor: pointer;
	  &:hover {
	    opacity: 0.3;
	  }
	  .lr {
      height:75px;
      width:1px;
      margin-left:35px;
      background-color:@gray-darkest;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Safari and Chrome */
      z-index:1051;

      @media(max-width:375px) {
      	height: 50px;
      	margin-left: 65px;
      }

      .rl {
        height:75px;
        width:1px;
        background-color:@gray-darkest;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari and Chrome */
        z-index:1052;

        @media(max-width:375px) {
        	height: 50px;
        }
      }            
	  }

	  @media(min-width:320px) and (max-width: 768px) {
	  	top: -41px;
	  }
	}
	.closemodal-button {
		text-align: center;
		@media(max-width:375px) {
			margin-bottom: 10px;
		}
	}

}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #e2e2e2;
    left: 40px;
    margin-left: -1.5px;
  }
  > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
    	clear: both;
    }
		.timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
	  .timeline-image {
	    left: 0;
	    margin-left: 0;
	    width: 80px;
	    height: 80px;
	    position: absolute;
	    z-index: 100;
	    background-color: @brand-primary;
	    color: white;
	    border-radius: 100%;
	    border: 7px solid #e2e2e2;
	    text-align: center;
	    h4 {
	    	font-size: 10px;
	    	margin-top: 12px;
	    	line-height: 14px;
	    }
	  }
    .timeline-image:hover {
    	.taghover;
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px;
			&:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
	    }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
    &:last-child {
    	margin-bottom: 0;
    }
  }
	.timeline-heading {
		h4 {
		    margin-top: 0;
		    color: #EF7247;
		    &.subheading {
		    	text-transform: none;
		    }
		}
	}
	.timeline-body {
		> p,
		> ul {
			margin-bottom: 0;
		}
	}
}

@media(min-width:768px) {
	.timeline {
		&:before {
			left: 50%;
		}
	    > li {
	    	margin-bottom: 100px;
	        min-height: 100px;
			.timeline-panel {
	            width: 41%;
	            float: left;
	            padding: 0 20px 20px 30px;
	            text-align: right;
	        }
	        .timeline-image {
	            width: 100px;
	            height: 100px;
	            left: 50%;
	            margin-left: -50px;
	            h4 {
	            	font-size: 13px;
	            	margin-top: 16px;
	            	line-height: 18px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            float: right;
	            text-align: left;
	            padding: 0 30px 20px 20px;
	        }
	    }
	}
}

@media(min-width:992px) {
	.timeline {
	    > li {
	        min-height: 150px;
			.timeline-panel {
	            padding: 0 20px 20px;
	        }
	        .timeline-image {
	            width: 150px;
	            height: 150px;
	            margin-left: -75px;
	            h4 {
            		font-size: 18px;
	            	margin-top: 30px;
	            	line-height: 26px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            padding: 0 20px 20px;
	        }
	    }
	}
}

@media(min-width:1200px) {
	.timeline {
	    > li {
	        min-height: 170px;
			.timeline-panel {
	            padding: 0 20px 20px 100px;
	        }
	        .timeline-image {
	            width: 170px;
	            height: 170px;
	            margin-left: -85px;
	            h4 {
	            	margin-top: 40px;
	            }
	        }
	        &.timeline-inverted > .timeline-panel {
	            padding: 0 100px 20px 20px;
	        }
	    }
	}
}

// Team Section

.team-member {
	text-align: center;
	margin-bottom: 50px;
	img {
		margin: 0 auto;
		border: 7px solid white;
	}
	img:hover {
		.taghover;
	}
	h4 {
		margin-top: 25px;
		margin-bottom: 0;
		text-transform: none;
		color: #EF7247;
	}
	p {
		margin-top: 0;
	}
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: medium none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

hr.divider-short {
  border-top: 3px solid @white;
  clear: both;
  font-size: 0;
  height: 1px;
  line-height: 0;
  margin: 15px auto;
  width: 60px;
}

// Clients Aside

aside.partners {
  -webkit-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
  -moz-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
  box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;

	img {
		margin: 50px auto;
		height: 40px;
	}

	img.bangalorejs {
		height: 90px;
	}

	h1 {
		margin: 50px auto;
		color: black;
		text-transform: none;
		text-align: center;
		font-size: 30px;
	}

	h1.jsconf {
		font-family: "Poiret One", cursive;
	}

	h1:hover {
		opacity: 0.5; 
	}

	img:hover {
		opacity: 0.5; 
	}
}

// Contact Section

section#contact {
	background-color: @gray-darkest;
	background-image: url('../img/map-image.png');
	background-position: center;
	background-repeat: no-repeat;
	.section-heading {
		color: white;
	}
	.form-group {
		margin-bottom: 25px;
		input,
		textarea {
			padding: 20px;
		}
		input.form-control {
			height: auto;
		}
		textarea.form-control {
			height: 236px;
		}
	}
	.form-control:focus {
		border-color: @brand-primary;
		box-shadow: none;
	}
	::-webkit-input-placeholder {
	   .heading-font;
	   font-weight: 700;
	   color: @placeholder-text;
	}
	:-moz-placeholder { /* Firefox 18- */
	   .heading-font;
	   font-weight: 700;
	   color: @placeholder-text;
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   .heading-font;
	   font-weight: 700;
	   color: @placeholder-text;
	}
	:-ms-input-placeholder {  
	   .heading-font;
	   font-weight: 700;
	   color: @placeholder-text;
	}
	.text-danger {
		color: @brand-danger;
	}
}

// Footer

footer {
  -webkit-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
  -moz-box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;
  box-shadow: 0 5px 0 rgba(30, 38, 44, .2) inset;

	padding: 25px 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		.heading-font;
		text-transform: none;
	}
	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		.heading-font;
		text-transform: none;
	}
}

// Social Buttons

ul.social-buttons {
	margin-bottom: 0;
	li {
		a {
			display: block;
			background-color: @gray-darkest;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			font-size: 20px;
			line-height: 40px;
			color: white;
			outline: none;
	        -webkit-transition: all 0.3s;
	        -moz-transition: all 0.3s;
	        transition: all 0.3s;
	        &:hover,
	        &:focus,
	        &:active {
				background-color: @brand-primary;
	        }
		}
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}

.portfolio-modal {
	.modal-content {
	    border-radius: 0;
	    background-clip: border-box;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    min-height: 100%;
	    padding: 100px 0;
	    text-align: center;
		h2 {
	    	margin-bottom: 15px;
	    	font-size: 3em;
		}
		p {
			margin-bottom: 30px;
		}
		p.item-intro {
			margin: 20px 0 30px;
			.serif-font;
			font-style: italic;
			font-size: 16px;
		}
		ul.list-inline {
			margin-bottom: 30px;
			margin-top: 0;
		}
		img {
			margin-bottom: 30px;
		}
	}
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:@gray-darkest;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:@gray-darkest;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
    	opacity: 0;
    	display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: @brand-primary;
}

::selection {
    text-shadow: none;
    background: @brand-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: @brand-primary;
}

#back-top {
	bottom: 30px;
	margin-bottom: 0;
	margin-right: 15px;
	position: fixed;
	right: 0;
	z-index: 100;

	a {
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #f98262;
		background-image: url('../assets/images/icons/arrow-up@2x.png');
		display: block;
		height: 50px;
		outline: medium none;
		position: relative;
		text-indent: -9999px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 50px;
		z-index: 0;
		text-align: center;
	}
	&:hover,
	&:focus {
		opacity: 0.8; 
		filter: alpha(opacity=30);
	}	
}

.code-conduct {
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.code-conduct-info {
	border-left-color: #468847;
	h4 {
		color: #468847;
	}
}

.code-conduct-info-shorter {
	border-left-color: @brand-primary;
	h4 {
		color: @brand-primary;
	}
}

.code-conduct-info-longer {
	border-left-color: #f0ad4e;
	h4 {
		color: #f0ad4e;
	}
}

.modal-content {
	background-color: @pop-up;	
}
.jsmodal-footer {
	.closemodal-button {
		text-align: center;
		button {
			background-color: @pop-up !important;
			border-color: #f7f7f7 !important;
		}
		button:hover {
			opacity: 0.8; 
			filter: alpha(opacity=30);
		}
	}
}

.modal-title {
	color: @white;
}

.more-link {
  color: #f98262;
  .body-font;
  padding: 0 15px 0 0;
  background-repeat:no-repeat;
  background-position:right 5px;
}
.more-link:hover {
  color:#333;
  background-image:url(images/icons/arrow-icon-hover.png);
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid @white;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
  color: @white;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -47px;
  width: 25px;
  height: 25px;
  background: @pop-up;
  border: 5px solid @white;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: @pop-up;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content div.row {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
  color: @white;
}

label:hover {
	opacity: 0.8; 
	filter: alpha(opacity=30);
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}

.radio:checked + .relative .circle {
  background: #f98262;
}
.radio:checked ~ .content {
  max-height: 260px;
  border-color: @white;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content div.row {
  max-height: 200px;
  color: @white;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #fff;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: @pop-up;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}

.event-items  {
  list-style-type: none;
  padding: 0;
  margin:  0;
 }
 .event-item  {
   -webkit-box-sizing:  border-box;
   -moz-box-sizing:  border-box;
   box-sizing:  border-box;
   background:  #f2f2f2;
   -webkit-border-radius:  8px;
   -moz-border-radius:  8px;
   -ms-border-radius:  8px;
   -o-border-radius:  8px;
   border-radius:  8px;
   margin-bottom:  30px;
   max-height: 360px;
 }
 .event-item .event-date  {
     padding:  15px 0 0 15px;
 }
 .event-item .event-date time  {
     color:  #85959e;
     font-size:  15px;
     font-weight:  bold;
     line-height:  30px;
     text-transform:  uppercase;
 }
 .event-image > img  {
     width:  55%;
 }
 .share-widget  {
     float:  right;
     font-size:  14px;
     padding:  0 15px;
     position:  relative;
     top:  -25px;
 }
 .share-widget > a  {
     color:  #85959e;
     -webkit-transition:  all .4s ease-in-out;
     -moz-transition:  all .4s ease-in-out;
     -o-transition:  all .4s ease-in-out;
     transition:  all .4s ease-in-out;
 }
 .share-widget > a:hover  {
     color:  #48A3A6;
 }
 .entry-title  {
     font-size:  28.5px;
     margin:  0 0 10px;
     padding:  0 15px;
 }
 .event-entry .entry-title  {
     margin:  0 0 5px;
 }
 .entry-content  {
     padding:  20px 15px;
 }