<footer ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; JSChannel 2013-2015</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/js_channel/"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/javascriptchannel" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="https://plus.google.com/111069083279946389343/"><i class="fa fa-google-plus"></i></a>
          </li>
          <li><a href="http://www.linkedin.com/groups?home=&gid=5112841"><i class="fa fa-linkedin"></i></a>
          </li>
          <li><a href="https://www.youtube.com/channel/UCdf_Ezv2lcB9OKE_4N23w1A"><i class="fa fa-youtube"></i></a>
          </li>
          <li><a href="https://www.flickr.com/photos/100543192@N08/sets/72157646036037789/"><i class="fa fa-flickr"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="javascript:void(0)" ng-click="openModal('conduct')">Code of Conduct</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<p id="back-top" class="hidden" ng-click="scrollToTop()">
  <a href="#page-top" du-scrollspy="page-top" offset="30" du-smooth-scroll>Back to Top</a>
</p>