<div class="modal-header">
  <div class="row">
    <div class="col-md-8"><h2 class="modal-title">Conferences</h2></div>
    <div class="col-md-4">
      <div class="close-modal" ng-click="closeModal()">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <ul id='timeline'>
    <li class='work'>
      <input class='radio' id='work5' name='works' type='radio' checked>
      <div class="relative">
        <label for='work5'>JSChannel Conference 2014</label>
        <span class='date'>18-19th July 2014</span>
        <span class='circle'></span>
      </div>
      <div class='content'>
        <!-- <p> -->
          <div class="row">
            <div class="col-md-4">                                
              <a href="http://2014.jschannel.com" class="thumbnail" target="_blank"><img src="assets/images/modal/2014-conf.jpg" alt=""></a>
            </div>
            <div class="col-md-8">
              JSChannel Conf 2014, was one of the largest JS conference gathering in Asia with more than 350 attendees. We were honored to have Douglas Crockford - Father of JSON, keynote the conference. We also had Amod Malviya, CTO Flipkart give a keynote talk. 
              <a href="http://2014.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
            </div>
          </div>
        <!-- </p> -->
      </div>
    </li>
    <li class='work'>
      <input class='radio' id='work4' name='works' type='radio'>
      <div class="relative">
        <label for='work4'>JSChannel Conference BLR - 2013</label>
        <span class='date'>16th Nov 2013</span>
        <span class='circle'></span>
      </div>
      <div class='content'>
        <div class="row">
          <div class="col-md-4">                                
            <a href="http://2013-blr.jschannel.com" class="thumbnail"><img src="assets/images/modal/2014-conf.jpg" alt=""></a>
          </div>
          <div class="col-md-8">
            This was our very first conference in Bangalore with more than 150 attendees. The conference was keynote by Kyle Simpson.           
            <a href="http://2013-blr.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </li>
    <li class='work'>
      <input class='radio' id='work3' name='works' type='radio'>
      <div class="relative">
        <label for='work3'>JSChannel Conference NCR - 2013</label>
        <span class='date'>7th Sept 2013</span>
        <span class='circle'></span>
      </div>
      <div class='content'>
        <div class="row">
          <div class="col-md-4">                                
            <a href="http://2013-ncr.jschannel.com" class="thumbnail"><img src="assets/images/about/2.jpg" alt=""></a>
          </div>
          <div class="col-md-8">
            This was our very first conference in Delhi NCR with approximately 100 attendees. The conference was keynote by Christin Lilley.
            <a href="http://2013-ncr.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </li>
  </ul>    
</div>
<div class="modal-footer jsmodal-footer">
  <div class="closemodal-button">
    <button type="button" class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close Project</button>
  </div>
</div>