  <div class="container jsc-modal">
    <div class="row">
      <div class="col-md-8"><h2 class="text-muted">Conferences</h2></div>
      <div class="col-md-4">
        <div class="close-modal" ng-click="closeModal()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="modal-body">
                  <div class="timeline-container clearfix">
                    <div id="time-line"></div>

                    <div class="time-to-filter clearfix" id="2014">
                        <p class="timeline-filter"><span>2014</span></p>
                        <span class="top-ring"></span>
                        <span class="bottom-ring"></span>
                    </div><!--time-to-filter-->

                    <article class="timeline-item standard-post clearfix">

                        <div class="timeline-icon">
                            <div><p data-icon=""></p></div>
                            <span class="dotted-horizon"></span>
                            <span class="vertical-line"></span>
                            <span class="circle-outer"></span>
                            <span class="circle-inner"></span>
                        </div>

                        <div class="entry-body clearfix">
                            <div class="kp-thumb hover-effect">                                
                                <img src="assets/images/modal/2014-conf.jpg" alt="">
                            </div>
                            <div>
                                <h3 class="entry-title"><a href="#">JS Conference 2014</a></h3>
                                <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>July 18-19, 2014</span></span>                                
                            </div>
                            <p>Autem sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci  laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci</p>
                            <a href="http://2014.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                        </div>

                    </article><!--timeline-item-->

                    <!-- <article class="timeline-item link-post clearfix">

                        <div class="timeline-icon">
                            <div><p><i class="icon-file-text"></i></p></div>
                            <span class="dotted-horizon"></span>
                            <span class="vertical-line"></span>
                            <span class="circle-outer"></span>
                            <span class="circle-inner"></span>
                        </div>

                        <div class="entry-body">
                            <div>
                                <h2 class="entry-title"><a href="http://2014.jschannel.com" target="_blank">JS Conference 2014</a></h2>
                                <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>July 18-19, 2014</span></span>                              
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde..</p>
                            <a href="http://2014.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                        </div>

                    </article> --><!--timeline-item-->

                    <div class="time-to-filter clearfix" id="october">
                        <p class="timeline-filter"><span>2013</span></p>
                        <span class="top-ring"></span>
                        <span class="bottom-ring"></span>
                    </div><!--time-to-filter-->

                    <article class="timeline-item standard-post clearfix">

                        <div class="timeline-icon">
                            <div><p data-icon=""></p></div>
                            <span class="dotted-horizon"></span>
                            <span class="vertical-line"></span>
                            <span class="circle-outer"></span>
                            <span class="circle-inner"></span>
                        </div>

                        <div class="entry-body clearfix">
                            <div class="kp-thumb hover-effect">
                                <img src="placeholders/post-image/post-1.jpg" alt="">
                            </div>
                            <div>
                                <h3 class="entry-title"><a href="#">JS Conference 2013 - BLR</a></h3>
                                <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>November 7, 2013</span></span>                                
                            </div>
                            <p>Autem sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci  laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci</p>
                            <a href="http://2013.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                        </div>

                    </article><!--timeline-item-->

                    <article class="timeline-item standard-post clearfix">

                        <div class="timeline-icon">
                            <div><p data-icon=""></p></div>
                            <span class="dotted-horizon"></span>
                            <span class="vertical-line"></span>
                            <span class="circle-outer"></span>
                            <span class="circle-inner"></span>
                        </div>

                        <div class="entry-body clearfix">
                            <div class="kp-thumb hover-effect">
                                <img src="placeholders/post-image/post-1.jpg" alt="">
                            </div>
                            <div>
                                <h3 class="entry-title"><a href="#">JS Conference 2013 - NCR</a></h3>
                                <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>September 7, 2013</span></span>                                
                            </div>
                            <p>Autem sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinci  laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci</p>
                            <a href="http://2013.jschannel.com" target="_blank" class="more-link">Know more&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                        </div>

                    </article><!--timeline-item-->

                    <a href="#" class="load-more kp-tooltip" data-toggle="tooltip" data-original-title="Load More"><i class="icon-plus"></i></a>
                  </div>
                  <div class="closemodal-button">
                    <button type="button" class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close Project</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
