<div class="modal-header">
  <div class="row">
    <div class="col-md-8"><h2 class="modal-title">Conferences</h2></div>
    <div class="col-md-4">
      <div class="close-modal" ng-click="closeModal()">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <span us-spinner="{ lines: 10, length: 3, width: 5, radius: 10, color: '#fff' }" spinner-key="spinner-1"></span>
  <accordion>
    <accordion-group ng-repeat="meetup in meetups">
      <accordion-heading>
          <div class="row">
            {{meetup.metadata.name}} <i class="pull-right-chevron glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </div>
      </accordion-heading>
      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-group"></i>&nbsp;{{meetup.metadata.members}} members</h4>
        </div>
        <div class="col-md-4">
          <i class="icon-group"></i><h4>Rated {{meetup.metadata.rating}} out of 5</h4>
        </div>
        <div class="col-md-4">
          <a ng-href="meetup.metadata.url" class="btn button-shadow-meetups pull-right">Join here</i></a>
        </div>
      </div>

      <div class="row">
        <ul class="event-items">
          <li class="event-item clearfix col-md-1"></li>
          <li class="event-item clearfix col-md-4" ng-if="meetup.upcoming.location">
            <div class="event-date">
              <time datetime="2014-09-23">Tuseday Sep. 23</time>
            </div>  
            <br class="clearfix">
            <div class="event-entry text-center">
              <h3 class="entry-title">Upcoming</h3>
              <p class="lead">{{meetup.upcoming.title}}</p>
              <div class="entry-content">
                <h5><time datetime="10:00">10:00 AM onwards</time></h5>
                <h5><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;{{meetup.upcoming.location}} <br/></h5>
                <p>
                  RSVPs: {{meetup.upcoming.rsvp}} <br />
                  <a ng-href="{{meetup.upcoming.url}}" target="_blank">More details <i class="fa fa-chevron-circle-right"></i></a>
                </p>
              </div>
            </div>
          </li>
          <li class="event-item clearfix col-md-4" ng-if="!meetup.upcoming.location">
            <div class="event-date">
              <time datetime="2014-09-23"></time>
            </div>  
            <br class="clearfix">
            <div class="event-entry text-center">
              <h3 class="entry-title">Upcoming</h3>
              <p class="lead">No upcoming event planned, <a ng-href="{{meetup.metadata.url}}" target="_blank">want to suggest one?</a> </p>
            </div>
          </li>
          <li class="event-item clearfix col-md-2"></li>
          <li class="event-item clearfix col-md-4" ng-if="meetup.past.location">
            <div class="event-date">
              <time datetime="2014-09-23">Tuseday Sep. 23</time>
            </div>  
            <br class="clearfix">
            <div class="event-entry text-center">
              <h3 class="entry-title">Past</h3>
              <p class="lead">{{meetup.past.title}}</p>
              <div class="entry-content">
                <h5><time datetime="10:00">10:00 AM onwards</time></h5>
                <h5><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;{{meetup.past.location}} <br/></h5>
                <p>
                  RSVPs: {{meetup.past.rsvp}}<br />
                  <a ng-href="{{meetup.past.url}}" target="_blank">More details <i class="fa fa-chevron-circle-right"></i></a>
                </p>
              </div>
            </div>
          </li>
          <li class="event-item clearfix col-md-4" ng-if="!meetup.past.location">
            <div class="event-date">
              <time datetime="2014-09-23"></time>
            </div>  
            <br class="clearfix">
            <div class="event-entry text-center">
              <h3 class="entry-title">Past</h3>
              <p class="lead">No past events</p>
            </div>
          </li>
          <li class="event-item clearfix col-md-1"></li>
        </ul>
      </div>
    </accordion-group>

    <!-- <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group> -->
  </accordion>
</div>
<div class="modal-footer jsmodal-footer">
  <div class="closemodal-button">
    <button type="button" class="btn btn-primary" ng-click="closeModal()"><i class="fa fa-times"></i> Close Project</button>
  </div>
</div>