<div class="col-md-7 subscribe" id="subscribe">
  <form ng-submit="subscribeUser()" method="post" class="horizontal-form" novalidate>
    <div class="inline-block">
      <div class="silver">
        <input type="email" ng-model="user.email" name="email" placeholder="Enter your email address" class="block-input margin-right">
        <button type="submit" ng-disabled="user.submitting" class="btn btn-primary button-shadow" id="subscribe" target="_blank">Subscribe to updates</button>
      </div>
    </div>
  </form>
  <h4 class="subscripition hidden" id="subscripition">Thank you for subscribing to our Newsletter!</h4>
</div>